
a,h1, h2, h3, h4, p, li{ 
    font-family: sans-serif;}
    





h1{
    color:blueviolet;
    font-size: 64px;
    text-transform: capitalize;
    font-style:normal;
    
}

h2
{
    font-size: large;
}


h3
{
    font-size: 30px;

}

h4
{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}


li
{
    font-size: 20px;
}

p
{
    font-size: 22px;
    text-transform:none;
    line-height: 1.5;
}

#author{
    font-style: italic;
}

footer p{
    font-size: 16px;
}

#link{
    font-size: 36px;
}

#footer{
    font-size: 20px;
}


.related_author{
    list-style: none;
}

.main_header{
    background-color: rgba(142, 221, 221, 0.288);
}


li:first-child{
    color: chocolate;
}


ol li:last-child{
    font-style: italic;
}


li:nth-child(2){
    color: red;
}

article p:last-child{
    color: darksalmon;
}