*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: sans-serif;
}

.product{
    border: 7px solid black;
    width: 825px;
    margin: 50px auto;
}


.title{
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 25px;
    text-align: center;
    background-color: #f6f6f6;
    padding: 15px;
    margin: 0;
}

h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

p{
    color: rgb(73, 73, 73);
    font-family: sans-serif;
    margin: 0;
}

#description{
    color: black;
    font-family: sans-serif;
    margin: 20px 0;
}


li{
    font-family: sans-serif;
    list-style: square;
    margin: 15px 0;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

.button{
    background-color: black;
    color: white;
    /* margin: 0 auto; */
    padding: 15px;
    font-size: 22px;
    border-top: 7px solid black;
    width: 100%;

}

.button:hover{
    color: black ;
    cursor: pointer;
    background-color: white;
    border-color: black;
    border-top: 7px 0;
    
}

h3{
    margin: 30px 0;
}

ul{
    margin: 20px 20px;
}

